<div class="flex-none navbar flex-row px-4 items-end">
	<div class="navbar-start flex-1 pt-4 flex flex-col items-start">
		<div class="flex w-auto flex-nowrap items-start">
			<span
				class="text-title font-bold drop-shadow-[0_0_0.35em_#ffffffaa] text-nowrap"
				data-i18n="title"
				>CYKSM</span
			>
			<div class="badge badge-primary badge-xs">
				<span id="version">VERSION</span>
			</div>
		</div>
		<span class="text-sm text-white/40" data-i18n="brief"></span>
	</div>
	<div class="navbar-end flex-col items-end w-auto">
		<div>
			<load src="components/lang_switcher.html" />
		</div>
		<div class="flex gap-4 items-center">
			<a onmousedown="ahk.Visit('https://github.com/Nigh')" href="#"
				><img
					src="./assets/github.svg"
					class="invert w-8 h-8 hover:drop-shadow-[0_0_0.5em_#ffffffff] duration-300"
			/></a>
			<a
				onmousedown="ahk.Visit('https://www.youtube.com/@tecnico5283')"
				href="#"
				><img
					src="./assets/youtube.svg"
					class="w-10 h-10 hover:drop-shadow-[0_0_0.5em_#cd201fff] duration-300"
			/></a>
			<a
				onmousedown="ahk.Visit('https://space.bilibili.com/895523')"
				href="#"
				><img
					src="./assets/bilibili.svg"
					class="w-8 h-8 hover:drop-shadow-[0_0_0.5em_#fb7299ff] duration-300"
			/></a>
		</div>
	</div>
</div>
